{% extends "page.html" %}

{% block title %}MathHarbor Notebook{% endblock %}


{% block stylesheet %}
{{super()}}
<link rel="stylesheet" href="{{ static_url("tree/css/override.css") }}" type="text/css" />
{% endblock %}

{% block params %}

data-project="{{project}}"
data-base-url="{{base_url}}"
data-notebook-path="{{notebook_path}}"

{% endblock %}




{% block site %}



<div class="row">
<div class="col-lg-12">
<div id="ipython-main-app" class="col-lg-6 col-lg-offset-3">

<div id="tab_content" class="tabbable">
    <ul id="tabs" class="nav nav-tabs">
        <li class="active"><a href="#notebooks" data-toggle="tab">Notebooks</a></li>
        <li><a href="#running" data-toggle="tab">Running</a></li>
        <li><a href="#clusters" data-toggle="tab">Clusters</a></li>
    </ul>

    <div class="tab-content">
    <div id="notebooks" class="tab-pane active">
        <div id="notebook_toolbar" class="row">
            <div class="col-lg-8">
                <form id='alternate_upload'  class='alternate_upload' >
                    <span id="notebook_list_info" style="position:absolute" >
                        To import a notebook, drag the file onto the listing below or <strong>click here</strong>.
                    </span>
                    <input type="file" name="datafile" class="fileinput" multiple='multiple'>
                </form>
            </div>
            <div class="col-lg-4 clearfix">
                <span id="notebook_buttons" class="pull-right">
                    <button id="new_notebook" title="Create new notebook" class="btn btn-success btn-sm">New Notebook</button>
                    <button id="refresh_notebook_list" title="Refresh notebook list" class="btn btn btn-sm"><i class="icon-refresh"></i></button>
                </span>
            </div>
        </div>

        <table class="table-condensed table-bordered col-lg-12 ipython-table">
            <tbody id="notebook_list">
                <tr><td>
                    <div>
                        <a href="{{breadcrumbs[0][0]}}"><i class="icon-home"></i> <span>/</span></a>
                        {% for crumb in breadcrumbs[1:] %}
                        <a href="{{crumb[0]}}">{{crumb[1]}} <span>/</span></a>
                        {% endfor %}
                    </ul>
                </td></tr>
            </tbody>
        </table>

    </div>

    <div id="running" class="tab-pane">

        <div id="running_toolbar" class="row">
            <div class="col-lg-8">
                <span id="running_list_info">Currently running IPython notebooks</span>
            </div>
            <div class="col-lg-4" class="clearfix">
                <span id="running_buttons" class="pull-right">
                    <button id="refresh_running_list" title="Refresh running list" class="btn btn-info btn-sm"><i class="icon-refresh"></i></button>
                </span>
            </div>
        </div>

        <table class="table-condensed table-bordered col-lg-12 ipython-table">
            <tbody id="running_list">
                    <div id="running_list_header">
                        <div> There are no notebooks running. </div>
                    </div>
            </tbody>
        </table>
    </div>

    <div id="clusters" class="tab-pane">

        <div id="cluster_toolbar" class="row">
            <div class="col-lg-8">
                <span id="cluster_list_info">IPython parallel computing clusters</span>
            </div>
            <div class="col-lg-4" class="clearfix">
                <span id="cluster_buttons" class="pull-right">
                    <button id="refresh_cluster_list" title="Refresh cluster list" class="btn btn-info btn-sm"><i class="icon-refresh"></i></button>
                </span>
            </div>
        </div>

        <table class="table-condensed table-bordered col-lg-12 ipython-table">
            <tbody id="cluster_list">
                <div id="cluster_list_header">
                    <tr><th><div class="profile_col">profile</div></th>
                    <th><div class="status_col">status</div></th>
                    <th><div class="engines_col" title="Enter the number of engines to start or empty for default"># of engines</div></th>
                    <th><div class="action_col">action</div></th></tr>
                </div>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block script %}
    {{super()}}
    <script src="{{ static_url("base/js/utils.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("base/js/dialog.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("tree/js/sessionlist.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("tree/js/notebooklist.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("tree/js/kernellist.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("tree/js/clusterlist.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("tree/js/main.js") }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
